body {
    font-family: 'Libre Franklin', sans-serif;
}

h1 {
    font-family: 'Gelasio', serif;
    text-align: center;
}

h2 {
    font-family: 'Gelasio', serif;
    margin-left: 2rem;
}

h3 {
    font-family: 'Gelasio', serif;
    text-align: center;
}

header,
main,
footer {
    max-width: 800px;
    margin: 0 auto;
}

header {
    background-color: #8EE3EF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #000;
}

header img {
    margin-right: 2rem;
    width: 25%;
    height: auto;
}

/* phone or baseline views **************************/
nav {
    background-color: #254E70;
    margin: 0 auto;
    max-width: 832px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.menu {
    font-size: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 3px 7px 6px;
    margin: 0;
    position: relative;
    left: 40%;
}

.menu::before {
    content: "☰ ";
}

.menu.open::before {
    content: "✖ ";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation li {
    display: none;
}

.navigation li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

.navigation li a:hover {
    background-color: white;
    color: #254E70;
}

.active {
    background-color: #8F0000;
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}

main {
    background-color: #F5F5F5;
    padding: 0 1rem 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.hero-image {
    width: 100%;
    height: auto;
    margin: 0;
}

.call-to-action {
    display: block;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    background-color: white;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 1rem;
    position: relative;
}

.call-to-action:hover {
    background-color: #AEF3E7;
    color: #000;
}

section {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    display: block;
    margin: 1rem;
}

section p {
    padding: 0.5rem;
    text-align: center;
}

section ul {
    list-style-type: square;
}

section li {
    padding: 0.5rem;
}

section img {
    max-width: 100%;
}

.visits {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 1rem;
    display: block;
    margin: 1rem;
}

.figure-view {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    display: block;
    margin: 1rem;
}

.figure-view img {
    width: 100%;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.spot1 {
    border: 1px solid #cac3c3;
    overflow-wrap: break-word;
    margin: 1rem;
}

.spot2 {
    border: 1px solid #cac3c3;
    overflow-wrap: break-word;
    margin: 1rem;
}

.spot3 {
    border: 1px solid #cac3c3;
    overflow-wrap: break-word;
    margin: 1rem;
}

footer {
    background-color: #224658;
    color: #fff;
    padding: 0 1rem 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
}

.site-info {
    overflow-wrap: break-word;
}

footer img {
    height: 50px;
    width: auto;
    margin: 1rem;
}

/*Form*/
form fieldset {
    margin: 10px;
    padding: 1rem;
    background-color: #d4f4f8;
    border: none;
    border-radius: 0 15%;
}

form legend {
    background-color: #254E70;
    color: #fff;
    padding: 1rem;
    margin: .5rem;
    border-radius: 50% 20%;
}

form label {
    display: block;
    margin: 10px;
}

.submitBtn {
    margin-left: 30px;
    background-color: #000;
    color: #fff;
    padding: .5em;
}

.submitBtn:hover {
    background-color: #8F0000;
}

form label.top,
form div {
    display: block;
    padding-top: 1rem;
    font-size: 1rem;
}

form label.sbs {
    display: block;
    padding: 1rem 0;
}

form label.top input,
form label.top select,
form label.top textarea {
    display: block;
    font-size: 1rem;
    padding: .5rem;
    width: 90%;
    max-width: 20rem;
    border-color: #fff;
}


form label.top textarea form label.top input:required {
    border: red solid 1px;
    background-color: lightgoldenrodyellow;
}

form label.top input:required:valid {
    border: green solid 1px;
    background-color: #fff;
}

form label.top input:focus {
    background-color: rgb(209, 199, 199);
}

/* directory */
.viewmenu {
    text-align: center;
    padding: 0.5em;
    background-color: white;
    margin: 0.5rem auto;
}

.viewmenu img {
    width: 52px;
    height: auto;
}

.viewmenu button {
    padding: 1em;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    text-align: center;
}

.grid img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: auto;
}

.grid a {
    display: inline;
    word-wrap: break-word;
    margin: 0 auto;
}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 0;
    padding: 1rem;
}

.list img {
    display: none;
}

.list a {
    text-align: left;
    word-wrap: break-word;
    word-break: break-all;
}

.list h3 {
    text-align: left;
    margin: 0;
}

.list p {
    text-align: left;
    margin: 0;
}

#tlmembers {
    text-align: left;
    background-color: white;
    padding: 1rem;
    margin: 0 auto;
}