body {
    font-family: 'Cabin', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Merriweather', serif;
}

header,
main,
footer {
    max-width: 800px;
    margin: 0 auto;
}

header {
    background-color: #bbb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

header img {
    margin-right: 2rem;
    border: 1px solid #000;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
}

nav {
    background-color: black;
    margin: 0 auto;
    max-width: 800px;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    background-color: white;
    color: black;
}

.active {
    background-color: brown;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;

}

section {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.card ul {
    list-style-type: none;
}


footer {
    background-color: #bbb;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
    padding: 1rem;
}