body {
    font-family: 'Cabin', sans-serif;
    font-size: 18px;
}

h1 {
    font-family: 'Merriweather', serif;
    font-size: 35px;
}

h2 {
    font-family: 'Merriweather', serif;
    font-size: 30px;
}

h3 {
    font-family: 'Merriweather', serif;
    font-size: 25px;
}

header {
    max-width: 960px;
    margin: 0 auto;
    background-color: #bbb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

header img {
    margin-right: 2rem;
    border: 1px solid #000;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
    width: 30%;
    height: auto;
}

/* phone or baseline views **************************/
nav {
    background-color: black;
    margin: 0 auto;
    max-width: 992px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #000;
    color: #fff;
}

#menu {
    font-size: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 3px 7px 6px;
    margin: 0;
    position: relative;
    left: 40%;
}

#menu::before {
    content: "☰ ";
}

#menu.open::before {
    content: "✖ ";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation li {
    display: none;
}

.navigation li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

.navigation li a:hover {
    background-color: white;
    color: black;
    font-weight: 700;
}

.active {
    background-color: brown;
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}

main {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    margin-top: 1rem;
    padding: 1rem;
    grid-template-columns: 1fr;
    grid-gap: 1rem;

}

.hero {
    margin: 10px auto;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .1);
    height: 500px;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.herolabel {
    position: absolute;
    top: 30px;
    left: 30px;
    background: radial-gradient(#fff, #4D5B97);
    border: 1px solid rgba(0, 0, 0, .75);
    padding: 1.5rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75;
}

.herolabel h2 {
    margin: 0;
    padding: .25rem;
    font-weight: 700;
    font-size: 5vw;
    white-space: nowrap;
}

#mode {
    position: absolute;
    top: 1rem;
    right: 25%;
    font-size: 1.3rem;
    cursor: pointer;
}

section {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    display: block;
    box-shadow: 0 0 10px #777;
}

section a {
    color: #00e;
}

section a:visited {
    color: #00e;
}

.card ul {
    list-style-type: none;
}

.card li {
    margin: 1rem;
}

#information p {
    text-align: center;
}

.google-map {
    max-width: 960px;
    display: block;
    margin: 0 auto;
    padding-bottom: 50%;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px #777;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

footer {
    max-width: 960px;
    margin: 0 auto;
    background-color: #bbb;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
    padding: 0 1rem 0;
}

footer p {
    margin: 0.3rem;
}